<div class="container">
	<div class="col-md-8">
		<h1>Recent Questions</h1>

		<% @questions.each do |question| %>
			<div class="media line">
	      <div class="media-body">
	        <h4 class="media-heading">
		  			<p><%= link_to question.title, question_path(question.id) %></p>
		  			 <%question.increment%> <!-- View counter -->
		  		</h4>

		  		<!-- Answer Loop - Start -->
		  		<% if question.answers.exists? %>
 				  	<div class="answerwidth"><%= render question.answers.first %></div>
 				  <% end %>
	        <!-- Answer Loop - End -->

	        <div class="container">
		        <div class="row">
			        <p class = "table-inline"><%= button_to "Answer Question", new_question_answer_path(question.id), method: :get, class: 'btn btn-default btn-xs' %></p>
			        <p><small><%= link_to "#{question.answers.count} Answers", question_path(question.id) %></small></p>
		      	</div> <!-- row -->
	      	</div><!-- containter -->
	  
	      </div> <!-- Media Body -->
	   	</div> <!-- Media -->
	   	 <!-- Skips line at the bottom if last item.  Try find way to put into end tag below -->
		<% end %> <!-- Question Loop -->
	</div> <!-- col-md-8 -->
</div> <!-- containter -->
