<div class="row">
	<div class="col-md-8">
	<h1>Label: <%= @label.name %></h1>
		<% @label.questions.each do |question| %> 
			<div>
				Question: <%= link_to question.title, question %>
			</div>
		<% end %>
	</div>
</div>
￼